body{
  overflow: hidden;
}
.bg_img{
  position: absolute;
  width: 50% !important;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/3862365/pexels-photo-3862365.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.logo{
  position: absolute;
  width: 150px;
  top: -140px;
  left: 200px;
}
h1{
  margin-top: 250px !important;
  background-color: rgba(0, 0, 0, 0.246);
  padding-bottom: 13px;
  font-size: 30px;
  text-align: center;
  color: aliceblue; text-shadow: rgb(15, 14, 14) 10px 10px 10px;
}
hr{
  width: 100%;
  
}
/* form */
.centrar{
  position: absolute;
  right: -500px;
  top: 20%;
}
form button{
  background: linear-gradient(rgb(195, 195, 199),rgb(162, 206, 92)) ;
  border: none !important;
}
form button:hover{
  background: linear-gradient(rgb(195, 195, 199),rgb(117, 146, 71)) ;
  
}
/* /form */
/* Responsive  */
/* @media screen and (max-width: 1190px){
  .logo{
    left: 15%;
  }
  .centrar{
    right: -450px !important;
  }
  hr{
   width: 45%;
  }
} */
/* @media screen and (max-width:1090px){
  .logo{
    left: 15%;
  }
  .centrar{
    right: -450px !important;
  }
  hr{
    width: 45%;
  }
} */
/* @media screen and (max-width:990px){
  .logo{
    left: 15%;
  }
  .centrar{
    right: -300px !important;
  }
  hr{
    width: 60%;
  }
}
@media screen and (max-width: 900px){
  
  hr,.logo{
    display: none;
  }
  .bg_img{
    width: 100% !important;
  }
  h1{
    margin-top: 0px !important;
  }
  .centrar{
    background-color: rgb(255, 255, 255);
    width: 70% !important;
    height: 400px;
    position: relative;
    left: 0;
    bottom: -70px;
    border-radius: 2%;
    padding: 3%;
    
  }
  /* fields */
  /* .field1,.field2,.field3,.field4{
    position: absolute;
    width: 70% !important;
  }
  .field1{
    top:6%;
  }
  .field2{
    top:26%;
  }
  .field3{
    top:46%;
  }
  .field4{
    top:66%;
    
  } */

 
  /* / fields
  form button{
    position: absolute;
    bottom: 16%;
  }
}  */


/* .. */

@media screen and (max-width: 425px) {
  .bg_img{
    width: 100% !important;
    object-fit: cover;
    
  }
  hr{
    position: absolute;
    top: -100px;
    left: 0px;
   
  }
  .logo{
    position: absolute;
    top: -200px;
    left:35%;
    width: 100px;
    border-radius: 50%;
    border-bottom: 1px solid black;
  }
  .centrar{
      background-color: rgb(255, 255, 255);
      width: 90% !important;
      height: 400px;
      position: relative;
      left: -40px !important;
      top: 200px !important;
      border-radius: 2%;
      padding: 3%;
    }

    
  .field1,.field2,.field3,.field4{
    position: absolute;
    width: 70% !important;
  }
  .field1{
    top:6%;
  }
  .field2{
    top:26%;
  }
  .field3{
    top:46%;
  }
  .field4{
    top:66%;
    
  } 
  form button{
    position: absolute;
    bottom: 16%;
  }
}

@media screen and (max-width: 321px) and (min-width: 0px){

  .centrar{
      left: 0px !important;
    }

}

@media screen and (max-width: 376px) and (min-width: 321px){

  .centrar{
      left: 0px !important;
    }

}
@media screen and (max-width: 426px) and (min-width: 376px){

  .centrar{
      left: 0px !important;
    }

}
@media screen and (max-width: 1026px) and (min-width:  426px){
  hr{
    display: none;
  }
 .logo{
   left: 30%;
 }
 h1{
   margin-top: 400px !important;
 }
  .centrar{
   left: -20%;
   width: 400px !important;
   height: 400px !important;
   
  }

  .field1,.field2,.field3,.field4{
    position: absolute;
    width: 70% !important;
  }
  .field1{
    top:6%;
  }
  .field2{
    top:26%;
  }
  .field3{
    top:46%;
  }
  .field4{
    top:66%;
    
  } 
  form button{
    position: absolute;
    bottom: 16%;
  }
}


@media screen and (max-width: 1025px) and (min-width: 769px){

  
 .logo{
   left: 40%;
 }
 
  .centrar{
   left: 0%;
   width: 450px !important;
  }

}
@media screen and (max-width: 1440px) and (min-width:  1026px){
  .logo{
    left: 50%;
  }
  h1{
    margin-top: 400px !important;
  }
hr{
  width: 90%;
}
   .centrar{
    left: 10%;
    width:45% !important;
    height: 400px;
   }
   .field1,.field2,.field3,.field4{
    position: absolute;
    width: 70% !important;
  }
  .field1{
    top:6%;
  }
  .field2{
    top:26%;
  }
  .field3{
    top:46%;
  }
  .field4{
    top:66%;
    
  } 
  form button{
    position: absolute;
    bottom: 16%;
  }
}

@media screen and (max-width: 2561px) and (min-width: 1440px){

  .centrar{
    left: 20%;
    width:40% !important;
    height: 400px;
   }

}